@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

@import './layout/Layout.css';
@import './layout/CompanyIcon.css';
@import './nav-bar/NavBar.css';
@import './logout/Logout.css';
@import './Base/Base.css';
@import './Base/FormularioAdultoMayor.css';
@import './Base/EstadoGeneral.css';
@import './Medicacion/Medicacion.css';
