.base {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.base__contenido {
    text-align: center;
}

.base__mensaje {
    margin-bottom: 20px;
    font-size: 24px;
}

.base__agregar {
    display: inline-block;
    color: #9f8303;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.base__agregar:hover {
    border-radius: 12px;
    border: 1px solid #e8e8e8;
    background-color: #efefef;
}
